body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}


.card{
  width: 20rem;
}

.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}

.card-body {
  padding: 3rem 0;
}

.card-text{
  font-size: .9rem;
  padding: 0.4rem 1.9rem;
}

.container-fluid .row{
  padding-top: 6rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top{
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover{
  transform: scale(1.8);
}

